html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}



.register-background {
  background-image: url('../../public/imagenes/fondo3.jpg'); /* Cambia por tu imagen */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.register-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-card button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-card button:hover {
  background-color: #c0392b;
}
